<div class="btn-group" style="cursor: move;margin: 3px 3px;display: block;">
    <div class="row"  style="width: 100%;">
        <div class="col-md-1" style="margin-top: 5px;margin-left: 10px;">
            {{param.name}}
        </div>
        <div class="col-md-6" style="margin-top: 5px;">
            <div class="c-range-picker-p">
                <select class="form-control" ng-model="param.values"
                        ng-options="d for d in param.selects"></select>
            </div>
        </div>
    </div>
</div>
